/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* 
#212121 
#FFFFFF 
#757575 
#2196F3 
#EEEEEE 
#000000 
#F5F4FA 
#FFFFFF 60 % 
#2F303A 
#ECECEC 
#188CE8 
*/
:root {
  --primary-text-color: #757575;
  --secodary-text-color: #212121;
  --hero-text-color: #fff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --btn-active-color: #188ce8;
  --second-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-box-color: #eeeeee;
  --border-header-color: #ececec;
  --social-logo-color: #afb1b8;
  --white-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

::-moz-selection {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

::selection {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.c-title-44 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.c-title-36 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.c-title-20 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.c-title-18 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.c-title-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.c-title-14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.c-title-12 {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  opacity: 0;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  color: var(--second-logo-color);
  text-decoration: none;
}
.logo__text {
  color: var(--accent-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--btn-active-color);
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation__item {
  margin-right: 50px;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: block;
  position: relative;
  padding: 32px 0;
  color: var(--secodary-text-color);
}
.navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover::after {
  background-color: var(--accent-color);
}
.navigation__link--active {
  color: var(--accent-color);
  position: relative;
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__item {
  margin-right: 30px;
}
.contacts__item:last-child {
  margin-right: 0;
}
.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 32px 0;
  color: inherit;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.work-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 60px) / 3);
}
.work-set__item {
  margin-right: 30px;
  position: relative;
}
.work-set__item:last-child {
  margin-right: 0;
}
.work-set__sub-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 27px 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  color: var(--white-color);
}

.social-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-set__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}
.social-set__item:last-child {
  margin-right: 0px;
}
.social-set__link {
  display: inline-block;
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  color: var(--social-logo-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-set__link:hover, .social-set__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.social-set__icon {
  fill: currentColor;
  display: block;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 120px) / 4);
}
.cards__item {
  padding-bottom: 30px;
  background-color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.cards__item:not(:last-child) {
  margin-right: 30px;
}
.cards__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--secodary-text-color);
}
.cards__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.mailing-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mailing-form__input {
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
  width: 358px;
  margin-right: 12px;
}
.mailing-form__input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input::-moz-placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px;
  max-width: 200px;
  width: 100%;
}
.mailing-form__icon {
  fill: var(--white-color);
  margin-left: 10px;
}

.filter {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__btn {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
  background-color: var(--accent-bg-color);
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__carrent {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}

.header {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--border-header-color);
}
.header__logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 91px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts {
  margin-left: auto;
}

.hero {
  padding: 200px 0;
  background-color: var(--secondary-bg-color);
  text-align: center;
}
.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-beckground.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-beckground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-bottom: 30px;
  color: var(--hero-text-color);
}
.hero__btn {
  min-width: 216px;
  padding: 10px 32px;
}

.features {
  padding-bottom: 0;
}
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__title {
  margin-bottom: 10px;
  color: var(--secodary-text-color);
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__pre-block {
  height: 120px;
  background-color: var(--accent-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.about__title {
  margin-bottom: 50px;
  color: var(--secodary-text-color);
}

.team {
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--accent-bg-color);
}
.team__title {
  margin-bottom: 50px;
  color: var(--secodary-text-color);
}

.team__social-set {
  margin-top: 16px;
}

.client__title {
  margin-bottom: 50px;
  color: var(--secodary-text-color);
}

.logo-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-set__item {
  margin-right: 30px;
  border: 1px solid var(--social-logo-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-set__item:hover, .logo-set__item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.logo-set__item:last-child {
  margin: 0;
}
.logo-set__link {
  display: block;
  padding: 16px 32px;
  color: var(--social-logo-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-set__icon {
  display: block;
  fill: currentColor;
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__contact-block {
  margin-right: 70px;
}
.footer__logo {
  margin-bottom: 20px;
  color: var(--hero-text-color);
}
.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__item {
  margin-right: 0;
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  font-style: normal;
  color: var(--footer-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 0;
}
.footer__link--accent {
  color: var(--hero-text-color);
}
.footer__title {
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}
.footer__mailing-form {
  margin-left: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(1);
          transform: translate(-50%, -50%) scaleY(1);
  max-width: 528px;
  width: 100%;
  max-height: 581px;
  background-color: var(--white-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scaleY(0);
          transform: translate(-50%, -50%) scaleY(0);
}
.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 9px;
  padding: 6px;
  cursor: pointer;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--second-logo-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-color);
}
.modal__icon-close {
  fill: currentColor;
  display: block;
}
.modal__heading {
  color: var(--secodary-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}
.modal__input-group {
  margin-bottom: 10px;
}
.modal__input-wrapper {
  position: relative;
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: var(--secodary-text-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.modal__input:hover + svg, .modal__input:focus + svg {
  fill: var(--accent-color);
}
.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__label {
  display: block;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.modal__text {
  max-width: 448px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text:hover, .modal__text:focus {
  border: 1px solid var(--accent-color);
}
.modal__text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 20px;
}
.modal__text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 20px;
}
.modal__text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 20px;
}
.modal__text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 20px;
}
.modal__text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-bottom: 20px;
}
.modal__input:focus-visible, .modal__text:focus-visible, .modal__politic-check:focus + label::before, .modal__link:focus {
  outline: var(--accent-color) auto 1px;
}
.modal__checkbox {
  margin-bottom: 30px;
}
.modal__politic-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.modal__politic-lable::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--secodary-text-color);
  border-radius: 2px;
  margin-right: 8px;
}
.modal__politic-check:hover + label::before {
  border-color: var(--accent-color);
}
.modal__politic-check:checked + label::before {
  border: none;
  background-image: url(../images/check.svg);
}
.modal__link {
  color: var(--accent-color);
  margin-left: 5px;
}
.modal__btn {
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--primary-bg-color);
}
.portfolio__item {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 60px) / 3);
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio__link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__action {
  position: relative;
  overflow: hidden;
}
.portfolio__action::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__action::before, .portfolio__link:focus .portfolio__action::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__pre-text {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  color: var(--white-color);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__pre-text, .portfolio__link:focus .portfolio__pre-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__label {
  padding: 20px 24px;
  border: 1px solid var(--border-box-color);
}
.portfolio__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secodary-text-color);
}
.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Universal clases */
/* Section */
/* HEADER */
/* Logo */
/* Site Nav */
/* Main */
/* Hero */
/* Features */
/* About */
/* Team */
/* Clients */
/* Footer */
/* Modal Window */
/* Portfolio *//*# sourceMappingURL=main.css.map */