
.features {
    padding-bottom: 0;

    &__list {
            display: flex;
        }

        &__title {
            margin-bottom: 10px;
            color: var(--secodary-text-color);
        }
    
        &__item:not(:last-child) {
            margin-right: 30px;
        }
    
        &__pre-block {
            height: 120px;
            background-color: var(--accent-bg-color);
            border-radius: 4px;
            margin-bottom: 30px;
            padding: 25px 100px;
        }
     
        &__text {
            margin-top: 0;
            margin-bottom: 0;
        }
}

