@mixin font($fw: 400, $fs: 14px, $lh: 1.71, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flex-align {
    display: flex;
    align-items: center;
}

