.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

  @include tel {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}
