.logo {
  font-family: $brandFont;
  @include font(700, 24px, 1.19, null);
  display: inline-block;
  color: var(--second-logo-color);
  text-decoration: none;

  @include desktop {
    @include font(null, 26px, null, null);
  }

  &__text {
    color: var(--accent-color);
  }
}
