.social-set {
    display: flex;
    justify-content: center;

    &__item {
        margin-right: 10px;
        width: 44px;
        height: 44px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &__link {
        display: inline-block;
        background-color: transparent;
        padding: 12px;
        border-radius: 50%;
        color: var(--social-logo-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--white-color);
            background-color: var(--accent-color);
        }
    }

    &__icon {
        fill: currentColor;
        display: block;
    }
}